<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Title }} - {{ site.Title }}</title>

    <link rel="preload" href="/fonts/inter.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/inter-italic.woff2" as="font" type="font/woff2" crossorigin>

    {{ $screen := resources.Get "css/screen.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $screen.RelPermalink}}" media="screen">
    {{ $print := resources.Get "css/print.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $print.RelPermalink}}" media="print">

    <link rel="alternate" type="application/rss+xml" href="/index.xml" title="{{ site.Title }}"> 

    <link rel="icon" href="/favicon.ico" sizes="48x48">
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    
    <link rel="canonical" href="{{ .Permalink }}">
    
    {{ if .IsHome }}{{ partial "home" . }}{{ end }}

    {{ if .Description }}
        <meta name="description" content="{{ .Description }}">
    {{ else }}
        {{ if  .Content }}
            <meta name="description" content="{{ .Summary }}">
        {{ end }}
    {{ end }}

    <script defer data-domain="theologique.ch" src="https://plausible.io/js/script.outbound-links.js"></script>

    <meta property="og:image" content="{{ absURL "/images/opengraph.jpg" }}" >

    {{ block "head" . }}{{ end }}
</head>

<body>

    <header>
        {{ if .IsHome }}{{ site.Title }}
        {{ else }}<a href="/">{{ site.Title }}</a>
        {{ end }}
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    {{ block "related" . }}{{ end }}

    <footer>
       {{ partialCached "footer" .}}
    </footer>

</body>

</html>