{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ .Content }}

<p>
    <strong><a href="{{ .Params.site }}" rel="noopener noreferrer external" target="_blank">{{ .Params.Site | replaceRE "http[s]?://" "" | replaceRE "/$" "" }}</a></strong>
</p>
    
<p>Classé dans:</p>
<ul>
{{ range sort (.GetTerms "tags") "Title" "asc" }}
<li><a href="{{ .RelPermalink }}" rel="tag">{{ .LinkTitle }}</a></li>
{{ end }}
</ul>

{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<aside>
    <p>Ceci pourrait aussi vous intéresser:</p>
    <ul>
	{{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
	{{ end }}
    </ul>
</aside>
{{ end }}

{{ end }}