:root {
    color-scheme: dark light;
}


html {
    font-family: Fira Sans, ui-sans-serif, Inter, Roboto, system-ui, sans-serif;
    font-size: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
    line-height: 1.5;
}

body {
    margin: auto;
    max-width: 70ch;
    padding: 1rem;
}

main {
    margin-block: 4rem 8rem;
}

main p {
    margin-block: 1rem;
}

h1,
h2,
h3 {
    font-size: 2rem;
    line-height: 1.2;
    margin-block: 2rem 1rem;
    text-wrap: balance;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem
}

header,
footer {
    font-size: .875rem;
}

li {
    margin-block: .5rem;
}

hr {
    border: 0;
    border-top: 2px solid;
}