:root {
    color-scheme: dark light;
}

html {
    font-family: ui-sans-serif, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
    font-size: clamp(1rem, 0.875rem + 0.25vi, 1.125rem);
    line-height: 1.5;
    padding: 1rem;
}

body {
    margin: auto;
    max-width: 75ch;
}

header,
footer {
    font-size: .875rem;
}

header {
    margin-bottom: 2rem;
}

main {
    min-height: 50vh;
}

footer {
    margin-top: 3rem;
}

h1 {
    line-height: 1.1;
}

li {
    margin-top: 0.5rem;
}

/* Liens vers les sites externes en gras */

a[rel~="external"] {
    font-weight: 900;
}

/* Liens accueil */

.flex {
    font-size: 1.1rem;
    font-weight: 500;
    list-style-type: none;
    padding: 0;
}

ul.flex {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 1rem;
}