:root {
    --fonts: ui-sans-serif, Roboto, Aptos, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";

    color-scheme: dark light;

    --background: #EEE;
    --light: #F8F8F8;
    --page: #FFF;
    --text: #222;
    --border: #444;
}

@media (prefers-color-scheme: dark) {
   :root {
        --background: #111;
        --light: #222;
        --page: #333;
        --text: #EEE;
        --border: #666;
   } 
}

html {
    background: var(--background);
    color: var(--text);
    font-family: var(--fonts);
    font-size: clamp(1rem, 0.875rem + 0.25vi, 1.125rem);
    line-height: 1.5;
    padding: .5rem;
    text-wrap: pretty;
}

body {
    background: var(--page);
    border: 2px solid var(--border);
    margin: auto;
    max-width: 75ch;
}


body > * {
    padding: .5rem 1rem;
}

header,
footer {
    background-color: var(--light);
    font-size: .875rem;
}

main {
    border-bottom: 2px solid var(--border);
    border-top: 2px solid var(--border);
    min-height: 50vh;
}

h1 {
    font-size: 1.6rem;
    line-height: 1.1;
    text-wrap: balance;
}

li {
    margin-top: 0.5rem;
}

hr {
    border: 0;
    border-bottom: 2px solid var(--border);
}

a {
    color: inherit;
}
