RewriteEngine On

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www. [NC]
RewriteRule (.*) https://theologique.ch/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.theologique.ch$ [NC]
RewriteRule ^(.*)$ https://theologique.ch/$1 [R=301,L]

ExpiresActive On
ExpiresByType font/woff2  "access plus 1 year"
ExpiresByType image/jpg "access 1 month"
ExpiresByType image/jpeg "access 1 month"
ExpiresByType image/gif "access 1 month"
ExpiresByType image/png "access 1 month"

ErrorDocument 404 /search/