AddDefaultCharset UTF-8
DefaultLanguage fr

RewriteEngine On

# Renvoi vers la version https
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www. [NC]
RewriteRule (.*) https://theologique.ch/$1 [R=301,L]

# Suppression du www. s’il existe
RewriteCond %{HTTP_HOST} ^www.theologique.ch$ [NC]
RewriteRule ^(.*)$ https://theologique.ch/$1 [R=301,L]

# 404
ErrorDocument 404 /404.html

# Scories de DokuWiki / WordPress

RedirectPermanent   /start          /
RedirectPermanent   /feed.php       /index.xml
RedirectPermanent   /feed/          /index.xml

# https://securityheaders.com/
Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "deny"
Header always set X-XSS-Protection "1;mode=block"
Header always set Referrer-Policy "same-origin"
Header always set X-Permitted-Cross-Domain-Policies "none"
# Header always set Content-Security-Policy "default-src 'self'"

# Bon type de fichier pour RSS
<filesMatch "(index.xml)$">
ForceType application/rss+xml
</filesMatch>

# Cache pour images
<filesMatch ".(js|jpg|jpeg|png|gif|ico|svg)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>

# Cache immutable pour fonts et css
<filesMatch ".(css|woff2)$">
Header set Cache-Control "max-age=63072000, public, immutable"
</filesMatch>