<ul class="buttons">
    {{ range sort site.RegularPages "RelPermalink" }}
            <li>
                {{- if .Content -}}
                <a href="{{ .RelPermalink }}" {{ if ne .Title .LinkTitle }}title ="{{ .Title }}"{{ end}}>{{ .LinkTitle }}</a> {{if eq (len (.GetTerms "tags")) 0 }}Pas de tags!{{end}}
                {{- else -}}
                <a href="{{ .Params.site }}" target="_blank" {{ if ne .Title .LinkTitle }}title ="{{ .Title }}"{{ end}}>{{ .LinkTitle }}</a>
                {{- end -}}
            </li>
    {{ end }}
</ul>